<h1>Lazy Loading / Dynamic loading</h1>

<pre>
  Update this angular application to lazy load all routes and to do so dynamically.

  Requirements:

  - Each exercises should be built as seperate lazy loaded chunks
  - The chunks should only be loaded when the user goes to the related page
  - Routes should be dynamically configured meaning if a user goes to `/exercises/99` it should try to load a module for exercise99.module.ts
  - If a module can't be loaded because it does not exist, the `exerciseNotFound` should be shown.
</pre>
<!--Do Not touch the code above this line!-->
<hr/>
<span>YOUR CODE HERE!</span>
