<h1>Child / Parent communication</h1>
<pre>
  Part 1 -
  Create a two components: "ParentComponent" and "ChildComponent." The "ParentComponent" should have an input field and a button,
  while the "ChildComponent" should display the value entered in the input field when the button is clicked.

  Requirements:
  - use changeDetection OnPush
  - Do not rely on a service to pass data between the components

  Part 2 -
  Provide new component called "InvertedParentComponent" and "InvertedChildComponent" which behave just like in part 1 but with inverted responsabilities.
  Meaning the children should have the input and the button and the parent will be responsible for displaying the data when the button is clicked.
</pre>
<!--Do Not touch the code above this line!-->
<hr/>
<span>YOUR CODE HERE!</span>
