<h1>Forms & Validators</h1>
<pre>
  Create an Angular form that allows users to register (mock) by filling out various fields, including name, email and password.

  Requirements:

  - The password field should have a custom validator that enforces specific password complexity rules.
  - The rules are :
    - minimum length 4 characters
    - maximum length 10 characters
    - atleast 1 special characters
    - ** nice to have - Do not allow the same consecutive character.
  - name
    - required
  - email
    - must be a valid email matching a pattern
  - Disable the form submission button until all fields are valid.
  - Display error messages for invalid fields and overall form validation errors.
</pre>
<!--Do Not touch the code above this line!-->
<hr/>
<span>YOUR CODE HERE!</span>
